a {
    color: orangered;
    text-decoration: none;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#logout-form {
    display: inline;
}
#logout-form button {
    padding: 0;
    margin: 15px;
}
